{%extends 'base.html'%}
{%load static%}

{%block title%}Certificados{%endblock%}

{%block main%}



<div class="row">
    {%for certificate in certificates%}
    <div class="col-6 mb-3">
        <div class="container-fluid cxt-padded bg-faded">

            <div class="row">
                <a href="{%url 'update_certificate_url' certificate.id%}">
                    <img class="mr-2" src="{% static 'img/certificate_img.png'%}" alt="Icone Certificado" width="150">
                </a>
                <div class="col-md-4">
                    <div class="media-body">
                        <h5 class="mt-0">{{certificate.certificateTitle|title}}</h5>

                        <p>Data: {{certificate.date|date:"d/m/Y"}}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {%empty%}
    <div class="alert alert-warning" role="alert">
        Essa pessoa não possui arquivos para serem exibidos
    </div>

    {%endfor%}
</div>

{%endblock%}