{%extends 'base.html'%}

{%block title%}Relatar Problamas{%endblock%}

{%block main%}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2> Relato de problemas no sistema</h2>
    <p class="lead">
        Se você se deparou com com seguintes problemas:
    </p>
      <ul class="lead text-danger">
          <li>Erro no certificado.</li>
          <li>Falta de algum certificado.</li>
          <li>Erro em alguma tela.</li>
      </ul>
      <p class="lead">Entre em contato conosco por:</p>
      <p>e-mail: secdead@ead.ufvjm.edu.br <br>
          telefone: (38)3532-1253</p>
  </div>
</div>
{%endblock%}